environment:
  nodejs_version: "10"

install:
  - ps: Install-Product node $env:nodejs_version
  - npm install

test_script:
  - node --version
  - npm --version
  - npm run test:unit

build: off

branches:
  only:
    - feature/appveyor-ci